  <body>


     <!-- Hero unit -->
    <div class="container mt-5 p-5 bg-dark text-white rounded-3">
      <h1 class="display-4">Markets by Matthias</h1 class="display-4">
      <p class="lead">Talking about investing</p>
      <a class="btn btn-success text-white btn-lg" href="#" role="button">Subscribe to the newsletter</a>
    </div>

    <div class="container my-5">
      <div class="row">
        <div class="col text-center">
          <h2>What you'll learn</h2>
        </div>
      </div>
      <!-- An example of Bootstrap's spacing utility classes -->
      <!-- The "mt-4" gives you more margin on top, responsively -->
      <div class="row mt-4">
        <div class="col-sm-4 text-center">
          <h1><i class="fas fa-code"></i></h1>
          <h5>Value Investing</h5>
          <p>Learn how Ben Graham and Warren Buffett became the grandfathers of the best investors in the world.</p>
        </div>
        <div class="col-sm-4 text-center">
          <h1><i class="fas fa-chart-line"></i></h1>
          <h5>Public versus private markets</h5>
          <p>Is consistent alpha possible in public markets? Why does it seem to be more consistent in Private Equity?</p>
        </div>
        <div class="col-sm-4 text-center">
          <h1><i class="fas fa-code-branch"></i></h1>
          <h5>European versus US stock market</h5>
          <p>The US stockmarket continues to outperform European stockmarkets. Why? </p>
        </div>
      </div>
    </div>
    
    <%= yield %>
  </body>
</html>